@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")
        <div class="row">
            @* @await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial") *@
        </div>
        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")
        </div>
    </div>
</div>

<script src="/admin/vertical/assets/js/jquery.min.js"></script>
<script src="/admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="/admin/vertical/assets/js/metismenu.min.js"></script>
<script src="/admin/vertical/assets/js/waves.js"></script>
<script src="/admin/vertical/assets/js/simplebar.min.js"></script>

<script src="/admin/plugins/morris-js/morris.min.js"></script>

<script src="/admin/plugins/raphael/raphael.min.js"></script>

<script src="/admin/vertical/assets/pages/dashboard-demo.js"></script>

<script src="/admin/vertical/assets/js/theme.js"></script>