@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_BlogDetailMainComponentPartial", new { id = ViewBag.BlogId })

            <div class="col-md-4 sidebar ftco-animate">

                @await Component.InvokeAsync("_BlogDetailSidebarSearchBoxComponentPartial")

                @await Component.InvokeAsync("_BlogDetailCategoryViewComponentPartial")

                @await Component.InvokeAsync("_BlogDetailRecentBlogsComponentPartial")

                @await Component.InvokeAsync("_BlogDetailTagCloudComponentPartial")

                @await Component.InvokeAsync("_BlogDetailParagraphComponentPartial")

            </div>
        </div>
    </div>
</section>