@model List<ResultFeatureDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Özellik Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Özellikler ile ilgili ekleme, silme, güncelleme işlemlerini bu sayfa üzerinden gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Özellik Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Detaylar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td><a href="/AdminFeature/RemoveFeature/@item.FeatureId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/AdminFeature/UpdateFeature/@item.FeatureId" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/AdminFeature/DetailFeature/@item.FeatureId" class="btn btn-outline-dark">Detaylar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminFeature/CreateFeature/" class="btn btn-outline-primary">Özellik Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>